*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.top-header{
    height: 100px;
    line-height: 100px;
    width: 100vw;
}

.top-header div{
    display: inline-block;
}

.top-header nav{
    display: inline-block;
}

.clearfix{
    content:"";
    display: table;
    clear: both;
}

float-left{
    float: left;
}

float-right{
    float: right;
}

.top-header nav{
    display: inline-block;
}

.contact-nav{
    text-align: right;
}

.top-header li{
    display: inline;
    font-size: 20px;
    padding: 0px 30px;

}

.top-header a{
    text-decoration: none;
    color: black;
}

#logo{
    display: inline;
    vertical-align: middle;
    padding: 0 0 5px 20px;
}

ul{
    display: inline;
}

.bottom-header{
    background-color: hsl(207deg 52% 81%);
}

#btn-start{
    background-color: blue;
    padding: 7px 20px;
    color: white;
}

/*width*/

.w-10{
    width: 10%;
}
.w-20{
    width: 20%;
}

.w-30{
    width: 30%;
}

.w-40{
    width: 40%;
}

.w-50{
    width: 50%;
}

.w-60{
    width: 60%;
}

.w-70{
    width: 70%;
}

