*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.top-header{
    height: 100px;
    line-height: 100px;
    width: 100vw;
    position: fixed;
    background-color: white;
    z-index:10;
}

.top-header div{
    display: inline-block;
}

.top-header nav{
    display: inline-block;
}

.clearfix::after{
    content:"";
    display: table;
    clear: both;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.top-header nav{
    display: inline-block;
}

.contact-nav{
    text-align: right;
}

.top-header li{
    display: inline;
    font-size: 20px;
    padding: 0px 30px;

}

.top-header a{
    text-decoration: none;
    color: black;
}

#logo{
    display: inline;
    vertical-align: middle;
    padding: 0 0 5px 20px;
}

ul{
    display: inline;
}

.bottom-header{
    background-color: hsl(207deg 52% 81%);
    position: relative;
    height: 900px;
}

.bottom-header .container{
    margin: 0 auto;
    width: 80%;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bottom-header img{
    width: 70%;
}

.bottom-header h1{
    padding-top: 150px;
    font-size: 80px;
}

.bottom-header p{
    padding: 50px 0 30px 0;
    font-size: 18px;
}

.bottom-header div{
    display: inline-block;
}

.btn{
    background-color: hsl(217deg 100% 50%);
    padding: 7px 20px;
    color: white;
}

.bottom-header img{
    position: absolute;
    top: 60%;
    width: 60%;
}

main{
    padding-top: 200px;
    margin: 0 auto;
    width: 70%;
}
.plan-container{
    position: relative;
}

.price{
    font-weight: bold;
}

.type{
    color: grey;
}

.plan-container h2{
    font-size: 45px;
    padding: 50px 0px;
}

.plan-container h4{
    font-size: 20px;
    text-align: center;
}

h3{
    font-size: 28px;
    padding-bottom: 20px;
}

.plan-container h5{
    font-size: 20px;
    font-weight: bold;
    padding: 40px 0 20px 0;
}

.plan-container p{
    font-size: 16px;
    padding: 20px 0;
}

.plan-container > div{
    margin-right: 50px;
    width: calc(100% / 3 - 50px);
}

.plan-container div > div{
    padding: 30px 50px;
    border: 1px solid lightgray;

}
.plan-container ul{
    list-style: none;
}

.plan-container a{
    text-decoration: none;
}

.team-container{
    position: relative;
    margin-top: 50px;
    border: 1px solid lightgray;
    
   
}

.team-container > h3{
    border-bottom: 1px solid lightgray;
    text-align: center;
}


.team-container-enterprise{
    order: 1px solid lightgray;
    padding: 30px 50px;
}

.partner-section{
    padding: 100px 0;
}

.partner-section img{
    width: 100%;
}

.partner-info{
    padding: 50px;
}

.partner-info p{
    font-size: 18px;
    

    
}

/*width*/

.w-10{
    width: 10%;
}
.w-20{
    width: 20%;
}

.w-30{
    width: 30%;
}

.w-40{
    width: 40%;
}

.w-50{
    width: 50%;
}

.w-60{
    width: 60%;
}

.w-70{
    width: 70%;
}

